In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('../DATA/housing.csv')

In [8]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7229300521,20141013T000000,231300.0,2,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [37]:
# MEDIA
def media(lista):
    suma = 0
    for valor in lista:
        suma += valor
    return suma / len(lista)

In [ ]:
def moda(lista):
    frecuencias = {}

    for valor in lista:
        if valor in frecuencias:
            frecuencias[valor] += 1
        else:
            frecuencias[valor] = 1
    
    max_frecuencia = 0
    for frecuencia in frecuencias.values():
        if frecuencia > max_frecuencia:
            max_frecuencia = frecuencia
    
    modas = []
    for valor, frecuencia in frecuencias.items():
        if frecuencia == max_frecuencia:
            modas.append(valor)
    
    return modas

In [40]:
# VARIANZA 
def varianza(lista):
    m = media(lista)
    
    suma_cuadrados = 0
    for valor in lista:
        suma_cuadrados += (valor - m) ** 2
    
    return suma_cuadrados / len(lista)

In [41]:
# DESVIACIÓN ESTÁNDAR
def desviacion_estandar(lista):
    v = varianza(lista)
    return v ** 0.5

In [45]:
columnas_interes = ['price', 'bedrooms', 'bathrooms',
                    'sqft_living', 'sqft_lot', 'floors',
                    'sqft_above', 'sqft_basement', 'yr_built']

for col in columnas_interes:
    print(f"Moda de {col}: {moda(df[col])}")

for col in columnas_interes:
    print(f"Desviación estándar de {col}: {desviacion_estandar(df[col])}")

for col in columnas_interes:
    print(f"Varianza de {col}: {varianza(df[col])}")

for col in columnas_interes:
    print(f"Media de {col}: {media(df[col])}")

Moda de price: [450000.0, 350000.0]
Moda de bedrooms: [3]
Moda de bathrooms: [2.5]
Moda de sqft_living: [1300]
Moda de sqft_lot: [5000]
Moda de floors: [1.0]
Moda de sqft_above: [1300]
Moda de sqft_basement: [0]
Moda de yr_built: [2014]
Desviación estándar de price: 367118.33179331536
Desviación estándar de bedrooms: 0.930083635861215
Desviación estándar de bathrooms: 0.7701453398840409
Desviación estándar de sqft_living: 918.4196493828824
Desviación estándar de sqft_lot: 41419.55327262748
Desviación estándar de floors: 0.5399764027734053
Desviación estándar de sqft_above: 828.0718201875072
Desviación estándar de sqft_basement: 442.5648039284941
Desviación estándar de yr_built: 29.372731263441953
Varianza de price: 134775869538.7068
Varianza de bedrooms: 0.8650555696968172
Varianza de bathrooms: 0.5931238445451048
Varianza de sqft_living: 843494.6523725768
Varianza de sqft_lot: 1715579393.304026
Varianza de floors: 0.29157451555210684
Varianza de sqft_above: 685702.9393886513
Varianza de sqft_basement: 195863.60567626642
Varianza de yr_built: 862.7573418743802
Media de price: 540088.5766899551
Media de bedrooms: 3.3707953546476657
Media de bathrooms: 2.1147573219821405
Media de sqft_living: 2079.8997362698374
Media de sqft_lot: 15106.967565816869
Media de floors: 1.4943089807060566
Media de sqft_above: 1788.3906907879516
Media de sqft_basement: 291.5090454818859
Media de yr_built: 1971.0051357978994